/* ======================header style starts============= */
@media screen and (max-width:576px) {
    html {
        font-size: 12px;
    }

    header nav,
    header nav ul,
    .banner,
    .online-games .video-gallery,
    .instant-play-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px
    }

    header nav ul li {
        margin-bottom: -20px;
    }


    .banner {
        padding-bottom: 0px;
        gap: 30px;
        flex-direction: column-reverse;

    }



    .banner-btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }



    .banner-img-container img {
        width: 100%;
    }

    .online-games {
        padding: 30px;
    }

    .online-games .video-gallery {
        margin-top: 20px;
    }

    .online-games .video-gallery img {
        width: 100%;
        height: 100%;

    }

    .instant-play-section {
        gap: 20px;

    }

    .instant-play-content {
        margin-top: 20px;
    }


    .instant-play-img-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }



    .instant-play-img-container .instant-play-img {
        width: 70%;
        text-align: center;

    }

    .instant-play-img-container .clip-img {
        width: 100px;
        bottom: 50px;
        right: 120px;

    }

    .game-list-section {
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: center;



    }

    .game-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);


    }

    .game-list .games {
        text-align: center;
        display: flex;
        width: 110px;






    }

    .game-list .games img {
        width: 20px
    }

    footer {
        padding: 30px;
    }

    .category ul,
    .social-icons ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        text-align: center;
    }

    .settings ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        text-align: center;

    }





}

@media screen and (min-width:576px) and (max-width:960px) {


    header nav,
    .banner,
    .instant-play-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 20px;
    }

    .banner-container {
        margin-right: 0;
    }

    .banner-img-container img {
        width: 100%;
    }

    .online-games {
        padding: 70px;
    }

    .online-games .video-gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

    }

    .vdo-thumbnail {
        margin-bottom: 50px;
        text-align: center;
    }

    .vdo-thumbnail p {
        font-size: .8rem;

    }

    .instant-play-content {
        margin-top: 20px;
    }

    .instant-play-img-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .instant-play-img-container .instant-play-img {
        width: 60%;
        padding: 0 100px;




    }

    .instant-play-img-container .clip-img {
        width: 200px;
        bottom: 100px;
        right: 200px;


    }

    .game-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);


    }

    .game-list .games {
        text-align: center;
        display: flex;
        width: 150px;






    }

    .game-list .games img {
        width: 30px
    }

    footer {
        padding: 30px;
    }

    .category ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        text-align: center;
    }


}